%div#dataset
  %div
    %div
      - @correlation_fields.each_slice(7).with_index do |fields, index|
        -if params[:part] != 'first'
          %h2.text-center.my-4=index.next
        - fields.each do |field|
          %div
            =image_tag field.html_safe, class: 'img-fluid mx-auto d-block mt-4 img-thumbnail border-3'
  %div
    - if params[:part] == 'first'
      - @global_statistics.each do |key, global_statistics|
        %table.table.table-striped.m-auto.mt-4.w-75.border.text-center
          %thead.table-dark
            %tr
              %th=key
              %th Значеніе
              %th СКО
              %th 95%
          %tbody
            %tr
              %td Среднее
              %td=global_statistics[:mean][:value].round(2)
              %td=global_statistics[:mean][:std].round(2)
              %td [#{global_statistics[:mean][:ninety_five].first.round(2)}; #{global_statistics[:mean][:ninety_five].last.round(2)}]
            %tr
              %td Медиана
              %td=global_statistics[:median][:value].round(2)
              %td -
              %td [#{global_statistics[:median][:ninety_five].first.round(2)}; #{global_statistics[:median][:ninety_five].last.round(2)}]
            %tr
              %td СКО
              %td=global_statistics[:std][:value].round(2)
              %td=global_statistics[:std][:std].round(2)
              %td [#{global_statistics[:std][:ninety_five].first.round(2)}; #{global_statistics[:std][:ninety_five].last.round(2)}]
            %tr
              %td Коэффициент Асимметрии
              %td=global_statistics[:assymetry][:value].round(2)
              %td=global_statistics[:assymetry][:std].round(2)
              %td [#{global_statistics[:assymetry][:ninety_five].first.round(2)}; #{global_statistics[:assymetry][:ninety_five].last.round(2)}]
            %tr
              %td Коэффициент Эксцесса
              %td=global_statistics[:excess][:value].round(2)
              %td=global_statistics[:excess][:std].round(2)
              %td [#{global_statistics[:excess][:ninety_five].first.round(2)}; #{global_statistics[:excess][:ninety_five].last.round(2)}]
      %div
        %table.table.table-striped.m-auto.mt-4.w-75.border.text-center
          %thead.table-dark
            %tr
              %th Коэффициент Корреляции
              %th Оценка
              %th 95%
              %th Статистика
              %th Квантиль
              %th Значимость
              %th Зависимость
          %tbody
            %tr
              %th Пирсона
              %th=@pearson[:value]
              %th="[#{@pearson[:ninety_five].first.round(2)}; #{@pearson[:ninety_five].last.round(2)}]"
              %th=@pearson[:statistic]
              %th=@pearson[:quantile]
              - if @pearson[:statistic].abs <= @pearson[:quantile]
                %th Незначимый
                %th Нет
              - else
                %th Значимый
                %th Да
            %tr
              %th Спирмена
              %th=@spirmen[:value]
              %th -
              %th=@spirmen[:statistic]
              %th=@spirmen[:quantile]
              - if @spirmen[:statistic].abs <= @spirmen[:quantile]
                %th Незначимый
                %th Нет
              - else
                %th Значимый
                %th Да
            %tr
              %th Кендалла
              %th=@kendall[:value]
              %th -
              %th=@kendall[:statistic]
              %th=@kendall[:quantile]
              - if @kendall[:statistic].abs <= @kendall[:quantile]
                %th Незначимый
                %th Нет
              - else
                %th Значимый
                %th Да
            %tr
              %th Корреляционное отношение
              %th=@corelation_relation[:value]
              %th -
              %th=@corelation_relation[:statistic]
              %th=@corelation_relation[:quantile]
              - if @corelation_relation[:statistic] <= @corelation_relation[:quantile]
                %th Незначимое
                %th Нет
              - else
                %th Значимое
                %th Да
      - if @corelation_pearson
        %div
          %table.table.table-striped.m-auto.mt-4.w-75.border.mb-4.text-center
            %thead.table-dark
              %tr
                %th Оценка Пирсона
                %th Оценка Кореляционного Отношения
                %th Статистика
                %th Квантиль
                %th Равность
                %th Линейная зависимость
            %tbody
              %tr
                %th=@pearson[:value]
                %th=@corelation_relation[:value]
                %th=@corelation_pearson
                %th=@corelation_relation[:quantile]
                - if @corelation_pearson <= @corelation_relation[:quantile]
                  %th Да
                  %th Да
                - else
                  %th Нет
                  %th Нет
    - else
      %div
        %table.table.table-striped.m-auto.mt-4.w-75.border.text-center
          %thead.table-dark
            %tr
              %th
              %th Асимметрия
              %th Эксцесс
          %tbody
            - @assymetries.each_with_index do |assym, index|
              %tr
                %th=index.next
                %th=assym
                %th=@excesses[index]
      %div
        %table.table.table-striped.m-auto.mt-4.w-75.border.mb-4.text-center
          %thead.table-dark
            %tr
              %th
              - @matrix.count.times do |index|
                %th=index.next
          %tbody
            - @matrix.each_with_index do |row, index|
              %tr
                %td.table-dark=index.next
                - row.each do |col|
                  %td=col[:value].round(2)
