%div#dataset
  %div
    %div
      - @correlation_fields.each do |field|
        =image_tag field.html_safe
      - if params[:part] == 'second'
        %p Між показниками 1-3, 1-4, 1-5, 4-6 існує нелінійний зв'язок (стохастичний, монотонний, від'ємний)
        %p Між показниками 3-4, 3-5, 4-5 існує лінійний зв'язок (стохастичний, додатній)
        %p Між показниками 3-6 існує лінійний зв'язок (стохастичний, від'ємний)
        %p Між показниками 1-6, 5-6 не спостерігається ніякої залежності
        %p Дані 2, 7 та 8 показників є неоднорідними
        %p В данних 3 та 4 показників присутні аномалії
  %div
    - if params[:part] == 'first'
      - @global_statistics.each do |key, global_statistics|
        %table
          %thead
            %tr
              %th=key
              %th Value
              %th STD
              %th 95%
          %tbody
            %tr
              %td Mean
              %td=global_statistics[:mean][:value].round(2)
              %td=global_statistics[:mean][:std].round(2)
              %td [#{global_statistics[:mean][:ninety_five].first.round(2)}; #{global_statistics[:mean][:ninety_five].last.round(2)}]
            %tr
              %td Median
              %td=global_statistics[:median][:value].round(2)
              %td -
              %td [#{global_statistics[:median][:ninety_five].first.round(2)}; #{global_statistics[:median][:ninety_five].last.round(2)}]
            %tr
              %td STD
              %td=global_statistics[:std][:value].round(2)
              %td=global_statistics[:std][:std].round(2)
              %td [#{global_statistics[:std][:ninety_five].first.round(2)}; #{global_statistics[:std][:ninety_five].last.round(2)}]
            %tr
              %td Asymmetry coefficient
              %td=global_statistics[:assymetry][:value].round(2)
              %td=global_statistics[:assymetry][:std].round(2)
              %td [#{global_statistics[:assymetry][:ninety_five].first.round(2)}; #{global_statistics[:assymetry][:ninety_five].last.round(2)}]
            %tr
              %td Excess coefficient
              %td=global_statistics[:excess][:value].round(2)
              %td=global_statistics[:excess][:std].round(2)
              %td [#{global_statistics[:excess][:ninety_five].first.round(2)}; #{global_statistics[:excess][:ninety_five].last.round(2)}]
      %div
        %table
          %thead
            %tr
              %th Corelation coefficient
              %th Estimate
              %th 95%
              %th Statistic
              %th Quantile
              %th Conclusion significance
              %th Conclusion relationship
          %tbody
            %tr
              %th Pearson
              %th=@pearson[:value]
              %th="[#{@pearson[:ninety_five].first.round(2)}; #{@pearson[:ninety_five].last.round(2)}]"
              %th=@pearson[:statistic]
              %th=@pearson[:quantile]
              - if @pearson[:statistic].abs <= @pearson[:quantile]
                %th Insignificant
                %th No
              - else
                %th Significant
                %th Yes
            %tr
              %th Spirmen
              %th=@spirmen[:value]
              %th -
              %th=@spirmen[:statistic]
              %th=@spirmen[:quantile]
              - if @spirmen[:statistic].abs <= @spirmen[:quantile]
                %th Insignificant
                %th No
              - else
                %th Significant
                %th Yes
            %tr
              %th Kendall
              %th=@kendall[:value]
              %th -
              %th=@kendall[:statistic]
              %th=@kendall[:quantile]
              - if @kendall[:statistic].abs <= @kendall[:quantile]
                %th Insignificant
                %th No
              - else
                %th Significant
                %th Yes
            %tr
              %th Corelation relation
              %th=@corelation_relation[:value]
              %th -
              %th=@corelation_relation[:statistic]
              %th=@corelation_relation[:quantile]
              - if @corelation_relation[:statistic] <= @corelation_relation[:quantile]
                %th Insignificant
                %th No
              - else
                %th Significant
                %th Yes
      - if @corelation_pearson
        %div
          %table
            %thead
              %tr
                %th Pearson estimate
                %th Corelation relation estimate
                %th Statistics
                %th Quantile
                %th Conclusion equality
                %th Conclusion linearity
            %tbody
              %tr
                %th=@corelation_pearson[:pearson]
                %th=@corelation_relation[:value]
                %th=@corelation_pearson[:value]
                %th=@corelation_relation[:quantile]
                - if @corelation_pearson[:value] <= @corelation_relation[:quantile]
                  %th Yes
                  %th Yes
                - else
                  %th No
                  %th No
    - else
      %div
        %table
          %thead
            %tr
              %th
              %th Assymetry
              %th Excess
          %tbody
            - @assymetries.each_with_index do |assym, index|
              %tr
                %th=index.next
                %th=assym
                %th=@excesses[index]
      %div
        %table
          %thead
          %tbody
            - @matrix.each do |row|
              %tr
                - row.each do |col|
                  %td=col[:value].round(2)
        %p За коефіцієнтом кореляційного відношення
        %p В парах показників 2-3, 2-5, 3-2, 3-4, 3-5, 5-2, 5-3 модуль коефіцієнта кореляції близький до 1 (>= 0.9)
        %p 3 показник найсильніше корелює з 2 та 5 показниками
        %p 7 показник не корелює з іншими
